{% extends "base.html" %}

{% block app_content %}
    <form action="" method="post">
        <p>Editing {{ current_user.username }}'s Review for {{ show.title }}</p>
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.rating.label }}<br>
            {{ form.rating(cols=1, rows=2) }}<br>
            {% for error in form.rating.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}